{% extends 'layouts/base.html' %} {% block content %}
<div
  class="container px-4 mx-auto"
  x-data="{
  currentView: localStorage.getItem('currentView') || 'profile',
  showSubMenu: false,
  setView(view) {
    this.currentView = view;
    localStorage.setItem('currentView', view);
  }
}"
>
  <div class="flex flex-wrap items-start gap-8 md:flex-nowrap">
    <aside class="flex-shrink-0 w-64">
      <div class="mt-4 mb-6">
        {% include "users/partials/_picture.html" with user=user size="32" margin="4" %}
        <h2 class="pl-8 text-lg font-semibold dark:text-white">{{ user}}</h2>
      </div>
      <nav>
        <ul class="space-y-2 dark:text-white">
          <li>
            <a
              href="#"
              class="flex items-center"
              @click.prevent="setView('profile')"
              ><i class="mr-2 fa-solid fa-user"></i>我的個人資料</a
            >
          </li>
          <li>
            <a
              href=""
              class="flex items-center"
              @click.prevent="setView('notifications')"
              ><i class="mr-2 fas fa-bell"></i>通知總覽
            </a>
          </li>
          <li>
            <a
              href="/profile#notifications"
              class="flex items-center"
              @click.prevent="setView('appointments')"
              ><i class="mr-2 fa-solid fa-calendar-check"></i>我的預約
            </a>
          </li>
          <li>
            <a
              href="#"
              class="flex items-center"
              @click.prevent="showSubMenu = !showSubMenu"
            >
              <i class="mr-2 fa-solid fa-clock-rotate-left"></i>我的足跡
            </a>
            <ul x-show="showSubMenu" class="pl-6 mt-2 space-y-2">
              <li>
                <a
                  href="#"
                  class="flex items-center text-gray-700"
                  @click.prevent="setView('answeredQuestions')"
                >
                  我回答過的問題
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center text-gray-700"
                  @click.prevent="setView('myQuestions')"
                >
                  我的問題
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center text-gray-700"
                  @click.prevent="setView('Myblogs')"
                >
                  我發過的文章
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a
              href=""
              class="flex items-center"
              @click.prevent="setView('mydrafts')"
              ><i class="mr-2 fa-solid fa-pen"></i>我的草稿
            </a>
          </li>
        </ul>
      </nav>
    </aside>

    <form
      class="flex-grow"
      action="{% url 'users:profile_edit' %}"
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="p-6 mt-4 bg-white rounded-lg shadow">
        <h1 class="mb-2 text-2xl font-bold">我的個人資料</h1>
        <div class="flex flex-col md:flex-row">
          <div class="flex-grow pr-0 md:pr-8">
            <div class="mb-4">
              <label class="block mb-2 text-gray-700">使用者帳號</label>
              <div class="w-full p-2 bg-gray-100 border rounded">
                {{user.username}}
              </div>
            </div>
            <div class="mb-4">
              <label class="block mb-2 text-gray-700">Email</label>
              <div class="flex items-center">
                <div class="w-full p-2 bg-gray-100 border rounded">
                  {{user.email}}
                </div>
              </div>
            </div>
            <div class="mb-4">
              <label class="block w-16 mb-2 text-gray-700">暱稱</label>
              <input
                type="text"
                name="nickname"
                value="{{ user.get_display_name}}"
                placeholder="請輸入您的暱稱，不超過30個字"
                class="w-full p-2 border rounded"
              />
            </div>
            <div class="flex justify-end mt-4">
              <button class="btn btn-techecho">更新</button>
            </div>
          </div>
          <div class="flex flex-col items-center mt-6 md:mt-0 md:w-1/3">
            {% if user.profile_picture %}
            <img
              id="previewImage"
              src="{{ user.profile_picture.url }}"
              alt="Profile Picture"
              class="object-cover w-32 h-32 mb-4 border-2 border-gray-300 rounded-full"
            />
            {% else %}
            <img
              id="previewImage"
              src="https://techecho.s3.ap-southeast-1.amazonaws.com/homepage_pictures/techecho_logo.png"
              alt="User Avatar"
              class="object-cover w-32 h-32 mb-4 border-2 border-gray-300 rounded-full"
            />
            {% endif %}
            <label
              for="uploadBtn"
              class="px-4 py-2 font-bold text-white bg-green-500 rounded-md hover:bg-green-600"
            >
              選擇照片
              <input
                type="file"
                name="profile_picture"
                id="uploadBtn"
                accept="image/*"
                class="hidden"
                onchange="previewImage(event)"
              />
            </label>
          </div>
        </div>
        </form>
      </div>
  </div>

</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    function previewImage(event) {
      const image = document.getElementById("previewImage");
      const file = event.target.files[0];
      const reader = new FileReader();

      reader.onload = function (e) {
        image.src = e.target.result;
      };

      if (file) {
        reader.readAsDataURL(file);
      }
    }
    document
      .getElementById("uploadBtn")
      .addEventListener("change", previewImage);
  });
</script>
{% endblock %}
